body {
    padding-top: 50px;
}
.inner-content {
    padding: 40px 15px;
    text-align: center;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
