{% extends "bootstrap/base.html" %}
{% block title %}Cool OTP!{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cool OTP!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Generate OTP</a></li>
                <li><a href="#test">Test OTP</a></li>
                <li><a href="#analyze">Collision Analysis</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="inner-content">
            <h1>Well howdy!</h1>
            <p class="lead">Use this here generate token button to create a new OTP from the key entirely
                client-side!</p>
            <p>Rounds: <small class="rounds"></small></p>
            <div class="input-group mb-3">
                <input type="text" class="form-control otp-result" placeholder="None yet :("
                       aria-label="otp" aria-describedby="basic-addon2" readonly>
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default otp-generate" type="button">Generate new OTP</button>
                </div>
            </div>
        </div>
        <!-- next -->
        <div class="inner-content" id="test">
            <h1>Test that OTP!</h1>
            <p class="lead">Put your OTP in the field below to send it to the server for validation!</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control otp-input" placeholder="Enter your OTP here..."
                       aria-label="otp" aria-describedby="basic-addon2">
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default otp-check" type="button">Check</button>
                </div>
            </div>
            <p class="server-result"></p>
        </div>
        <!-- next -->
        <div class="inner-content" id="analyze">
            <h1>Analyze-ify!</h1>
            <p class="lead">Wow, look at us! We have a fancy graph and everything!</p>
        </div>
    </div><!-- /.container -->
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{url_for('.static', filename='js/jquery.cookie.js')}}"></script>
    <script src="{{url_for('.static', filename='js/sha256.js')}}"></script>
    <script src="{{url_for('.static', filename='js/main.js')}}"></script>
{% endblock %}
